<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

	<title>Pedido</title>

	<div th:replace="~{lol :: bootstrap}"></div>

</head>

<body>

	<div th:replace="~{lol :: menu}"></div>

	<div class="container mt-4">

		<h2 th:text="${pedido.uuid} != null ? 'Editar Pedido' : 'Nuevo Pedido'"></h2>

		<form th:action="${pedido.uuid} == null ? @{/rutaPedidos/guardar} : @{/rutaPedidos/actualizar}" method="post"
			th:object="${pedido}">

			<input type="hidden" th:field="*{uuid}">

			<div class="mb-3">

				<label>Fecha:</label>

				<input type="date" class="form-control" th:field="*{fechaPedido}">

			</div>

			<div class="mb-3">

				<label>Total:</label>

				<input type="number" step="0.01" class="form-control" th:field="*{total}">

			</div>

			<div class="mb-3">

				<label>JoselynSC:</label>

				<input class="form-control" th:field="*{JoselynSC}">

			</div>

			<div class="mb-3">

				<label>Cliente:</label>

				<select class="form-select" th:field="*{cliente}">

					<option value="">
						Seleccione un cliente
					</option>

					<option th:each="cliente : ${clientes}" th:value="${cliente.uuid}"
						th:text="${cliente.nombreMarthaAngelinaSL}">
					</option>

				</select>

			</div>

			<button type="submit" class="btn btn-success">

				Guardar

			</button>

			<a th:href="@{/rutaPedidos/listar}" class="btn btn-secondary">

				Cancelar

			</a>

		</form>

	</div>

</body>

</html>