<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Formulario Color</title>
	<div th:replace="~{lol :: bootstrap}"></div>
</head>

<body>

	<div th:replace="~{lol :: menu}"></div>

	<div class="container mt-4">

		<div class="card shadow">

			<div class="card-header bg-success text-white">
				<h2 class="mb-0">🎨 Registro de Colores</h2>
			</div>

			<div class="card-body">

				<form th:action="@{/extraerColores/guardar}" th:object="${color}" method="post">

					<input type="hidden" th:field="*{id}">

					<div class="mb-3">
						<label class="form-label">Nombre del Color</label>

						<input type="text" th:field="*{nombreJonatanMG}" class="form-control"
							placeholder="Ejemplo: Negro">
					</div>

					<button type="submit" class="btn btn-success">
						💾 Guardar
					</button>

					<a th:href="@{/extraerColores/listar}" class="btn btn-secondary">
						↩️ Regresar
					</a>

				</form>

			</div>

		</div>

	</div>

</body>

</html>